body{
    background-color: black;
}
h1{
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
.error{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    color: burlywood;
    margin: auto;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: cadetblue;
}
a:active{
    color: crimson;
}