body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: crimson;
}
h1,h2{
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}
#navBar {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#navBar li{
    list-style-type: none;
    float: left;
    margin: 0;
}
#navBar li a{
    display: block;
    padding: 14px 16px;
    font-size: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#navBar li a:link {
    color: brown;
    background-color: transparent;

}
#navBar li a:visited {
    color: brown;
}
#navBar li a:hover {
    color: chocolate;

}
#navBar li a:active {
    color: yellow;
}
button{
    color: burlywood; border-color: burlywood; background-color: transparent;
}
#carouselExampleCaptions{
    width: 70%;
    position: fixed;
    top: 100px;
    right: 0;
}