.dark{
    background-color: black;
    color: crimson;
}
.light{
    background-color: burlywood;
    color: black;
}
.navdiv{
    background-color: coral;
}
h1,h2{
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}
nav{
    padding: 1%;
}
a:link {
    color: brown;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: brown;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: chocolate;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
button{
    color: burlywood; border-color: burlywood; background-color: transparent;
}
